.home{
    height: -webkit-calc(100vh - 68px);
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Bodoni', serif;
}

.text {
    position: absolute;
    display: flex-column;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding-bottom: 75px;
}
.desc {
    font-family: 'Libre Caslon Text', serif;
    font-size: 30px;
    font-style: italic;
    padding-top: 20px;
    margin: 0;
}

.hi{
    font-size: 120px;
    margin: 0;
    padding-bottom: 75;
}

.pinkcirc {
    padding-left: 20px;
    padding-bottom: 125px;
    height:500px;
}

.purplecirc {
    padding: 50px;
    height: 350px;
}