.nav-header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 68px;
    color: var(--text);
    font-family: 'Libre Caslon Display', serif;
    z-index: 2;
    background-color: var(--bgcolor);
    /*box-shadow: 0 2.5px 10px var(--text);*/
}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 65%;
    margin: auto;
    align-items: center;
    height: 100%;
}
.logo{
    font-size: 25px;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    list-style: none;
}

.nav-item{
    font-size: 25px;
    padding-inline-start: 2rem;
}

.nav-item:hover{
    cursor: pointer;
    color:var(--accent1);
    transition: 0.5s;
}